# .gitignore

# Node
node_modules/

# Next.js build output
.next/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env
venv/
.venv/

# Alembic cache and versions
alembic/__pycache__/
alembic/versions/__pycache__/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Media
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv
*.mp3
*.wav
*.ogg
*.flac
*.aac
*.m4a
*.wma
*.m4v
*.webm
*.m4p
*.m4b
*.m4r
*.3gp
*.3g2
*.3gpp
*.3gp2
*.3gpp2
*.3gpp3
*.3gpp4
*.3gpp5
*.3gpp6
*.3gpp7

# Folders to exclude
/uploads/
/downloads/